.titoloLogin {
	margin: auto;
	font-size: 55px;
	color: black;
	margin:auto;
	text-align: center;
	
}
.etichette {
	font-size: 18px;
	font-weight: bold;
	margin-left: 15px;
	text-align:center;
	matgin:auto; 
	width:50%;
}

.contenitore{
	width: 50%;
	height: auto;
	text-align: center;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
	margin: auto;
}
.immagineLog {
	margin-bottom:15px;
	margin: auto;
	width: 50%;
	display: block;
}






.login {
	
	margin:auto;
	width:10%;
	padding: 5px;
	font-size: 20px;
	background-color: #CBFFC0ED;
	color: black;
	margin-top: 15px;
	text-decoration: underline;
	border:none;
	cursor:pointer;
	border-radius:5px;
	font-weight:bold;
	
	
}
	

.ricordami {
	font-family: "Dosis";
	font-weight: bold;
	margin-top: 15px;
	text-decoration: underline;
	font-size:20px;
	text-align:center;
}

.registrati {
	font-size:20px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.username {
	margin: auto;
	width: 50%;
}

.container {
	margin: auto;
	width: 50%;
}

.pulReg {
	font-family: "Dosis";
	font-weight: bold;
	background-color: #a6ec84;
	margin: auto;
	margin-top: 15px;
	font-size: 15px;
	border: 1px solid black;
}

.registrazione{
	font-family: "Dosis";
	color:black;
	font-weight:bold;
	background-color: #CBFFC0ED;
	text-decoration: underline;
	text-align:center;
	margin:auto;
	width:50px;
	font-size:20px;

	
}

	
	
	
.conferma{
	width:10%;
	margin:auto;
	margin-top:20px;
	padding:5px;
	font-size:20px;
	background-color: #CBFFC0ED;
	text-decoration:underline;
	border:none;
	cursor:pointer;
	border-radius:5px;
	font-weight:bold;
	margin-righ:10px;
	mmargin-left:10px;
	
}