.titoloLogin {
	margin: auto;
	width: 50px;
	color: green;
	font-family: "Dosis";
	/*font-size: 100px;*/
}

.immagineLog {
	margin: auto;
	width: 50%;
	display: block;
}

label {
	color: black;
	font-family: "Dosis";
	font-weight: bold;
	align: center;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 15px;
	margin: auto;
	width: 80%;
}

.login {
	font-family: "Dosis";
	font-size: 20px;
	color: black;
	border: 1px solid black;
	background-color: #a6ec84;
	font-weight: bold;
	margin-top: 15px;
	text-decoration: underline;
}

.ricordami {
	font-family: "Dosis";
	font-weight: bold;
	margin-top: 15px;
	text-decoration: underline;
}

.registrati {
	margin-top: 15px;
	margin-bottom: 15px;
}

.username {
	margin: auto;
	width: 50%;
}

.container {
	margin: auto;
	width: 50%;
}

.pulReg {
	font-family: "Dosis";
	font-weight: bold;
	background-color: #a6ec84;
	margin: auto;
	margin-top: 15px;
	font-size: 15px;
	border: 1px solid black;
}

.registrazione{
	font-family: "Dosis";
	color:black;
	font-weight:bold;
	background-color:#a6ec84;
	text-decoration: underline;
}