.conferma {
	
	margin:auto;
	width:10%;
	padding: 5px;
	font-size: 20px;
	background-color: #CBFFC0ED;
	color: black;
	margin-top: 15px;
	text-decoration: underline;
	border:none;
	cursor:pointer;
	border-radius:5px;
	font-weight:bold;
	
	
}

#area-utente {
	width: 100%;
	display: grid;
	grid-template-columns: 35% 35%;
	grid-template-rows: 65% 5% 25%;
	height: 500px;
	justify-content: center;
	grid-column-gap: 2%;
}


.item-a {
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	text-align: center;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}

.item-b {
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	width: 100%;
	text-align: inherit;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}

#righe2 {
	font-size: 20px;
	line-height: 5px;
	padding-left: 25px;
}

#caselle{
border-bottom: 1px solid rgba(40, 150, 5, 0.9);
}

#titoloCaselle{ 
	font-size: 35px;
	color: #4CAF50;
	margin-top: 55px;
	font-weight: bold;
	margin:auto;
	text-align: center;
	font-weight: bold;
}

.riga {
	height: 1px;
	background: rgba(0,0,0,.2);
	width: 100%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#informazioni {
	border-bottom: 1px solid #00000059;
	padding: 5px;
	margin-left: 5px;
}

.etichette {
	font-size: 18px;
	font-weight: bold;
	margin-left: 15px;
}

.datiSpedizioneEPagamento{
margin: auto;
width: 80%;

}

.pulsanti {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	/* flex-direction: column; */
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	margin: 5px;
}
/*
.pulsanti:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
*/
.CVV{
	margin-top:10px;
}

.tipo{margin-top:30px;}

.container {
	padding: 2px 16px;
	width: 100%;
}

.datiPersonalieAccesso{
	margin-top: 20px;
}


.riga1 { 
	height: 1px;
	background: rgba(0,0,0,.2);
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}