@charset "ISO-8859-1";

body{
  overflow-x:hidden; 
}


*{
	    font-family: "Dosis";	
}

@font-face{
	font-family: "Dosis";
	src: url("../font/Dosis/AnyConv.com__Dosis-Regular.otf");
}

@font-face {
    font-family: 'treeftrregular';
    src: url("../font/treeftr-webfont/treeftr-p58o-webfont.woff") format('woff2'),
         url("../font/treeftr-webfont/treeftr-p58o-webfont.woff2") format('woff');
    font-weight: normal;
    font-style: normal;
}

 /**************************************************** TITOLI DELLE PAGINE **************************************************************/

.titoloPagine { /*titolo di TUTTE le pagine (tranne della home) */
	margin: auto;
	font-size: 68px;
	color: black;
	margin: auto;
	text-align: center;
	font-family: 'treeftrregular';
} 
 
 
 
/*questi due sono il titolo e il sottotitolo della homepage*/
#titoloHome{  
	font-size: 52px; 
	color: black;
	font-family: 'treeftrregular';
} 
#sottotitolo {
	font-size: 42px;
	color: black;
	margin-top: 15px;
	margin-bottom: 35px;
}


/****************************************************************   NAVBAR   **************************************************************/
.primo {
	background: #CBFFC0ED;
	color: black;
	padding: 7px 15px;
	/* margin: 8px 0; */
	border: none;
	cursor: pointer;
	width: 20%;
	border-radius: 5px;
	font-weight: bold;
	border: 1px solid green;
	position: absolute;
	right: 3%;
}

 .nav-link{
	font-size: 22px;
	
}


.navbar-light .navbar-nav .nav-link {
	color: rgba(0,0,0,.7);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	font-size: 20px;
	color: rgba(0,0,0,1);
}

.titolo {
	font-size: 25px;
	font-weight: bold;
	position: absolute;
	left: 1%;
	margin-top: 16px;
}


/**************************************************************   FOOTER   ****************************************************************/
.footer {
	padding: 25px;
	color: black;
	background-color: #a6ec84;
	width: 100%;
	margin-top: 50px;
}

.tit{
	color: black;
	font-size: 18px;
}

.border-bottom {
	border-bottom: 1px solid #000 !important;
}



/*******************************************************HOME PAGE LOGGATA E NON ***********************************************************/
/*Cards funzionalità sulla Homepage loggata*/
.funzionalita {
	display: grid;
	grid-template-columns: 35% 35%;
	grid-template-rows: 80px;
	justify-content: center;
	grid-row-gap: 20%;
	grid-Column-gap: 5%;
	height: 350px;
}
.descrFunz {
	text-align: center;
	margin: auto;
	width: 80%;
	font-size: 20px;
}

.titoloParagrafo2{
	font-family: 'treeftrregular';
	font-size: 32px;
	text-decoration: none;
	color:#00BB2D;
	font-weight: bold;
}

.link:hover{
	text-decoration: underline;
	color:#00BB2D;
}





@media all and (max-width: 1690px)and (min-width : 990px) { 
	.titoloParagrafo2{
		font-size: 22px;
	}
	
	.descrFunz{
		font-size: 18px;
	}
	
.funzionalita {
	grid-template-columns: 40% 40%;
	grid-template-rows: 95px;
	height: 250px;
}


}



@media all and (max-width: 991px) and (min-width: 768px) {
	.titoloParagrafo2{
		font-size: 22px;
	}
	
	.descrFunz{
		font-size: 18px;
	}
	
.funzionalita {
	grid-template-columns: 40% 40%;
	grid-template-rows: 95px;
	height: 250px;
}

 }
 
/*small devices*/
@media all and (max-width: 767px) and (min-width: 601px) {
		.titoloParagrafo2{
		font-size: 20px;
	}
	
	.descrFunz{
		font-size: 16px;
	}
	
.funzionalita {
	grid-template-columns: 40% 40%;
	grid-template-rows: 110px;
}

}

 /*extra-small devices*/
@media all and (max-width: 600px) {
	.titoloParagrafo2{
		font-size: 20px;
	}
	
	.descrFunz{
		font-size: 16px;
	}
	
.funzionalita {
	grid-template-columns: 40% 40%;
	grid-template-rows: 110px;
}
}
 
 


/*************************************************************   PROFILO UTENTE   **********************************************************/
#area-utente {
	width: 100%;
	display: grid;
	grid-template-columns: 35% 35%;
	grid-template-rows: 65% 5% 25%;
	height: 500px;
	justify-content: center;
	grid-column-gap: 2%;
}


.item-a {
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	text-align: center;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}

.item-b {
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	width: 100%;
	text-align: inherit;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}

#righe2 {
	font-size: 20px;
	line-height: 5px;
	padding-left: 25px;
}

#caselle{
border-bottom: 1px solid rgba(40, 150, 5, 0.9);
}

#titoloCaselle{ 
	font-size: 35px;
	color: #4CAF50;
	margin-top: 55px;
	font-weight: bold;
	margin:auto;
	text-align: center;
	font-weight: bold;
}

.riga {
	height: 1px;
	background: rgba(0,0,0,.2);
	width: 100%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#informazioni {
	border-bottom: 1px solid #00000059;
	padding: 5px;
	margin-left: 5px;
}

.etichette {
	font-size: 18px;
	font-weight: bold;
	margin-left: 15px;
}

.datiPersona{
margin: auto;
width: 80%;

}

.pulsanti {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	/* flex-direction: column; */
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	margin: 5px;
}

.pulsanti:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
	padding: 2px 16px;
	width: 100%;
}

.operazioni{
	margin-top: 20px;
}


.riga1 { 
	height: 1px;
	background: rgba(0,0,0,.2);
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

/******************************************************* MODIFICA DATI UTENTE **************************************************************/
.contenitore {
	/* grid-row-start: 1; */
	/* grid-row-end: 5; */
	width: 50%;
	height: auto;
	text-align: center;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
	margin: auto;
}

#modificaBtn{
	margin: auto;
	width: 20%;
	padding: 5px; 
	font-size: 16px; 
	background-color: #CBFFC0ED;
	color: black;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
	border: 1px solid green;
	margin-bottom: 10px;

	/*
	padding: 7px 15px;
	
	
	width: 20%;

	right: 3%;*/
}


/***************************************************** VISUALIZZA ORDINI UTENTE ***********************************************************/
.w3-black, .w3-hover-black:hover {
	color: #fff !important;
	background-color: #000 !important;
	width: 70%;
	margin: auto;
}

.w3-bar .w3-button {
	white-space: normal;
	margin: auto;
	width: 50%;
	background-color: white;
	color: black;
	border-bottom: 1px solid black;
	font-size: 32px;
}

/****************************************************************** CATALOGO **************************************************************/
.catalogo{
	height: 1000px;
}
.menuSx {
	/* float: left; */
	background-color: transparent;
	width: 300px;
	height: 1300px;
	border-right: 1px solid #eee;
	/* position: absolute; */
	z-index: 1;
	animation: fadeInLeft;
	animation-duration: 1s;
	float: left;
	position: relative;
	border-radius: 10px;
	border: 1px solid #eee;
	/* width: 302px; */
	/* margin-top: 10%; */
	margin-left: 3px;
}


#titSx {
	font-family: 'treeftrregular';
	font-size: 48px;
	color: #626262;
	font-weight: bold;
	text-align: center;
	padding: 15px;
	margin-top: 30px;
}

.icon-bar {
	display: none;
	width: 100%;
	background-color: #5ba83599;
	z-index: 1;
	animation: fadeInLeft;
	animation-duration: 1s;
	float: left;
	position: relative;
	/* margin-top: 10%; */
	border-radius: 10px;
	/* border: 1px solid #eee; */
	text-align: center;
	height: 30px;
}

.sottoCateg {
	color: #262626;
	text-decoration: none;
	background-color: transparent;
}

.sottoCateg:hover{
	color: black;
	text-decoration: none;
}



#categ {
	font-family: 'treeftrregular';
	font-weight: bold;
	font-size: 35px;
	color: #5ba835;
	text-align: center;
	width: 70%;
	margin: auto;
}

.sottoList{
	margin-right: 10px;
	font-size: 22px; 
	color: #262626;
}

#grid {
	width: 1030px;
	position: absolute;
	left: 315px;
	height: auto;
	top: 150px;
}


.listaProdotti {
	margin: 0;
	padding: 0;
	list-style: none;
	
	display: inline-block;
	width: 300px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

#prod{

	display: inline-block;
	width: 300px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;

}

.prodotto {
	border: 1px solid #ddd;
	color: #333;
	margin-bottom: 20px;
	position: relative;
	padding-bottom: 20px;
	padding: 15px 0;
	background-color: #fff;
	text-align: center;
}

#img {
	/* border: 3px solid #f8f8f8; */
	-webkit-border-radius: 50%;
	border-radius: 40%;
	transition: all 0.3s ease 0s;
	margin: 0 auto;
	height: 260px;
	width: 260px;
}

.descrProd {
	padding: 10px;
	text-align: center;
	border-top: 1px solid #eee;
	
}

#titInfo{
font-size: 28px;
font-weight: bold;
}

#info {
	font-size: 22px;
	margin: 10px;
	line-height: 22px;
}

.vediInfo {
	position: absolute;
	right: 0;
	bottom: 3px;
}

.showBioBtn {
	background-color: #337ab7;
	padding: 5px 10px;
	color: #fff;
	font-size: 12px;
}

#paginazione {
	clear: both;
	margin: 20px 0;
}

#paginazione a {
	padding: 3px 6px;
	border: 1px solid #2e6da4;
	margin: 2px;
	color: black;
	text-decoration: none
}

.active_page {
	background: #337ab7;
	color: white !important;
}

#prova{
	width: 300px;
	background-color: #5ba83599;
	z-index: 1;
	animation: fadeInLeft;
	animation-duration: 1s;
	float: left;
	position: relative;
	/* margin-top: 10%; */
	border-radius: 10px;
	border: 1px solid #eee; 
	text-align: center;
	height: 30px;
}

.dropdown-menu-animation .prova{
	animation:slideInUp;
	animation-duration:1s!important;
}

.icon-bar a:not(.nohover):hover {  
    background-color: #4b4c4d9e ; 
    cursor:pointer;
}

/* icona frecce per menù a scomparsa */
.arrow-style {
  color: white;
  margin-left:-24px;
}
@keyframes load {
  0% {
    opacity: 0;
  }
  20% {
  	opacity:1;
  }100% {
    opacity: 1;
  }
}

.uno {
  -webkit-animation: load 5s 4 0.5s;
  animation: load 5s 4 0.5s;
}
.due {
  -webkit-animation: load 5s 4 0.6s;
  animation: load 5s 4 0.6s;
}
.tre {
  -webkit-animation: load 5s 4 0.7s;
  animation: load 5s 4 0.7s;
}

 /*extra-small devices*/
@media all and (max-width: 600px) {
	.icon-bar{
		display:block;
	}
}

/************************************************* VISUALIZZA DETTAGLI PRODOTTO *******************************************************/
.visualizzaProdotto{
		width: 100%;
	display: grid;
	grid-template-columns: 30% 60%;
	grid-template-rows: 65% 5% 25%;
	height: 350px;
	justify-content: center;
	grid-column-gap: 2%;
	
}

.fotoProdotto{
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	text-align: center;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}

.dettagliProdotto{
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	width: 100%;
	text-align: inherit;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}


/*********************************************************** CARRELLO ******************************************************************/
.carello {
	width: 100%;
	display: grid;
	grid-template-columns: 15% 40% 8% 7% 7% 15%;
	grid-template-rows: 65% 5% 25%;
	height: auto;
	justify-content: center;
}

.totale{
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	text-align: center;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}



/*********** grandezze monitor per il responsive ***********/
/*GRANDEZZE large, medium, small, extra-large e extra-small*/


@media all and (max-width: 1690px)and (min-width : 990px) { 
	
}

@media all and (max-width: 991px) and (min-width: 768px) {

}
 
/*small devices*/
@media all and (max-width: 767px) and (min-width: 601px) {

}

 /*extra-small devices*/
@media all and (max-width: 600px) {

}