@charset "ISO-8859-1";

body{
  overflow-x:hidden; 
}


*{
	    font-family: "Dosis";	
}

@font-face{
	font-family: "Dosis";
	src: url("../font/Dosis/AnyConv.com__Dosis-Regular.otf");
}

@font-face {
    font-family: 'treeftrregular';
    src: url("../font/treeftr-webfont/treeftr-p58o-webfont.woff") format('woff2'),
         url("../font/treeftr-webfont/treeftr-p58o-webfont.woff2") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: "janda";
	src: url("../font/janda_elegant_handwriting/JandaElegantHandwriting.ttf");
}
 /**************************************************** TITOLI DELLE PAGINE **************************************************************/
 /*titolo di TUTTE le pagine (tranne della home) */
.titoloPagine {
	margin: auto;
	font-size: 60px;
	color: #394a3e;
	text-align: center;
	font-family: 'janda';
	margin-top: 20px;
	margin-bottom: 20px;
}
 
/*questi due sono il titolo e il sottotitolo della homepage*/
#titoloHome{  
	font-size: 52px; 
	color: black;
	font-family: 'treeftrregular';
} 
#sottotitolo{
	letter-spacing: 2px;
}
#sottotitolo a {
	font-size: 42px;
	color: #394a3c;
	margin-top: 15px;
	margin-bottom: 35px;
	font-family:"janda";
	letter-spacing: 3px;
}
/********************************************************   STILI BOTTONI  ****************************************************/
.bottoni-colori {
	background-color: #81bb65;
	border: 1px solid transparent;
	background-image: linear-gradient(135deg,#a6ec84,#81bb65);
	box-shadow: 2px 6px 15px #81c096;
}

.opBtn2 {   /* div che contiene i bottini in PROCEDI ORDINE  non di tutti */
	margin: auto;
	width: 20%;
	color: ghostwhite;
	float: right;
	margin-top: 20px;
}

.bottoni-colori:focus, .bottoni-colori:hover {
	background-color: #81bb65;
	color: ghostwhite;
	border: 1px solid transparent;
	background-image: linear-gradient(180deg,#a6ec84,#81bb65);
	box-shadow: 2px 6px 15px #81c096;
}

.bottoni {
	overflow: visible;
	text-transform: none;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 30px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	transition: .5s ease-in-out;
	/* transition-property: color,background-color,background-position,border-color,box-shadow; */
	letter-spacing: 1.8px;
	border-radius: 500px;
	background-origin: border-box;
	margin: 5px;
}

/****************************************************************   NAVBAR   **************************************************************/
.iconNav {
	display: inline-block;
	width: 31%;
	margin-left: 22px;
}

.logoNav{
display: inline-block;
	width: 31%
}

.barraRicercaNav{
display: inline-block;
	width: 31%
}

.item {
	list-style-type: none;
	font-size: 15px;
	display: inline-block;
	width: 23%;
	margin: 5px;
	/* margin-left: 15px; */
	font-weight: bold;
	text-align: center;
}

.group-menu {
	padding: 0;
	margin: auto;
}

.barraRicerca {
	width: 80%;
	margin-left: 85px;
	/* margin-top: 80px; */
}

.btnRicerca {
	height: 38px;
	background-color: #ffffff;
	border: none;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border: 2px solid #aced8c;

}

.form-control {
	color: #394a3c;
	border: 2px solid #a6ec84;
	border-right-color: white;
}

.fa {
	color: #394a3c;
}

.bottoniNav {
	width: 100%;
	position: absolute;
	/* top: 180px; */
	/* left: 70px; */
	background-color: #a6ec84;
	border-radius: 5px;
	color: #394a3e;
	line-height: 30px;
}

.contenutoNav {
	/* height: auto; */
	height: 200px;
	width: 100%;
	margin: auto;
}

.logo {
	width: 250px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.logoContenitore{
text-align: center;
display: block-ruby;
}

.iconeContenitore {
	/* text-align: center; */
	display: inline-flex;
	width: 100%;
}
.iconaTxt {
	text-decoration: none;
	font-size: 21px;
	color: #394a3c;
}

.col-lg-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 94%;
}

#navbarVerde {

	list-style-type: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

@media all and (max-width: 1690px)and (min-width : 990px) { 
	.iconaTxt {
	font-size: 18px;
	display: block;
	margin-left: 10px;
}

.size{
	margin-left: 5px;

}
}

@media all and (max-width: 991px) and (min-width: 768px) {
	.iconaTxt {
	font-size: 16px;
	display: block;
	margin-left: 10px;
}

.size{
	margin-left: 5px;

}

.barraRicerca {
	width: 80%;
	margin-left: 45px;
}

}
 
/*small devices*/
@media all and (max-width: 767px) and (min-width: 601px) {
.iconaTxt {
	font-size: 15px;
	display: block;
	margin-left: 3px;
}

.size{
	margin-left: 5px;

}

.iconNav {
margin-left: 5px;
	margin-right: 10px;
}

.logo {
	width: 220px;
}


.barraRicerca {
	width: 80%;
	margin-left: 30px;
}

.item {
	width: 20%;
}
}

 /*extra-small devices*/
@media all and (max-width: 600px) {
.iconaTxt {
	font-size: 14px;
	display: inline-block;
	margin-left: 3px;
}

.size{
	margin-left: 15px;

}
.iconNav {
	margin-left: 5px;
	margin-right: 10px;
	width: 90%;
	margin-top: 10px;
}
.logoNav {
	width: 100%;
	display: block;
}
.logo {
	width: 250px;
	margin-bottom: 15px;
	margin-top: 25px;
}

.barraRicercaNav {
	display: inline-block;
	width: 90%;
	margin: 5px;

}

.barraRicerca {
	width: 80%;
	margin-left: 50px;

}
.item {
	font-size: 13px;
	display: contents;
}

.item span{
	margin: 5px;
}



.bottoniNav {
	width: 100%;
	margin-top: 10px;
}
.iconeContenitore {

	margin-left: 35px;
}
#navbarVerde {
	list-style-type: none;
	margin-right: 5px;
}
}




/**************************************************************   FOOTER   ****************************************************************/
.footer {
	padding: 25px;
	color: #394a3c;
	background-color: whitesmoke;
	width: 100%;
	margin-top: 100px;
	border-top: 2px solid #a6ec84;
}


.tit-footer{
	font-family:"janda";
	font-size: 20px;
}



/*******************************************************HOME PAGE LOGGATA E NON ***********************************************************/
/*Cards funzionalità sulla Homepage loggata*/
.funzionalita {
	display: grid;
	grid-template-columns: 35% 35%;
	grid-template-rows: 80px;
	justify-content: center;
	grid-row-gap: 20%;
	grid-Column-gap: 5%;
	height: 350px;
}
.descrFunz {
	text-align: center;
	margin: auto;
	width: 80%;
	font-size: 20px;
}

.titoloParagrafo2{
	font-family: 'Dosis';
	font-size: 32px;
	text-decoration: none;
	color:#81bb65;
	font-weight: bold;
}

.link:hover{
	text-decoration: underline;
	color:#00BB2D;
}





@media all and (max-width: 1690px)and (min-width : 990px) { 
	.titoloParagrafo2 {
	font-size: 28px;
}
	
.descrFunz {
	font-size: 21px;
}
.funzionalita {
	grid-template-columns: 40% 40%;
	grid-template-rows: 95px;
	height: 250px;
}


}



@media all and (max-width: 991px) and (min-width: 768px) {
	.titoloParagrafo2{
		font-size: 22px;
	}
	
	.descrFunz{
		font-size: 18px;
	}
	
.funzionalita {
	grid-template-columns: 40% 40%;
	grid-template-rows: 95px;
	height: 250px;
}

 }
 
/*small devices*/
@media all and (max-width: 767px) and (min-width: 601px) {
		.titoloParagrafo2{
		font-size: 20px;
	}
	
	.descrFunz{
		font-size: 16px;
	}
	
.funzionalita {
	grid-template-columns: 40% 40%;
	grid-template-rows: 110px;
}

}

 /*extra-small devices*/
@media all and (max-width: 600px) {
	.titoloParagrafo2{
		font-size: 20px;
	}
	
	.descrFunz{
		font-size: 16px;
	}
	
.funzionalita {
	grid-template-columns: 40% 40%;
	grid-template-rows: 110px;
}
}
 
 


/*************************************************************   PROFILO UTENTE   **********************************************************/
#area-utente {
	width: 100%;
	display: grid;
	grid-template-columns: 35% 35%;
	grid-template-rows: 65% 5% 25%;
	height: 500px;
	justify-content: center;
	grid-column-gap: 2%;
}


.item-a {
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	text-align: center;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}

.item-b {
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	width: 100%;
	text-align: inherit;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}

#righe2 {
	font-size: 20px;
	line-height: 5px;
	padding-left: 25px;
}

#caselle{
border-bottom: 1px solid rgba(40, 150, 5, 0.9);
}

#titoloCaselle{ 
	font-size: 35px;
	color: #4CAF50;
	margin-top: 55px;
	font-weight: bold;
	margin:auto;
	text-align: center;
	font-weight: bold;
}

.riga {
	height: 1px;
	background: rgba(0,0,0,.2);
	width: 100%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#informazioni {
	border-bottom: 1px solid #00000059;
	padding: 5px;
	margin-left: 5px;
}

.etichette {
	font-size: 18px;
	font-weight: bold;
	margin-left: 15px;
}

.datiPersona{
margin: auto;
width: 80%;

}

.pulsanti {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	/* flex-direction: column; */
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	margin: 5px;
}

.pulsanti:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.descrOp {
	padding: 2px 16px;
	width: 100%;
}

.operazioni{
	margin-top: 20px;
}


.riga1 { 
	height: 1px;
	background: rgba(0,0,0,.2);
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

/******************************************************* MODIFICA DATI UTENTE **************************************************************/
.container-dati {
	width: 100%;
	/* padding-right: 15px; */
	/* padding-left: 15px; */
	height: 350px;
	margin: auto;
}

#nuovoIndirizzo {
	border: 1px gainsboro dashed;
	background-color: ghostwhite;
}

#indirizzi{
	border: 1px solid gainsboro;
	background-color: rgb(250, 330, 300);
}

.modificaDati {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: auto;
	column-gap: 2%;
	width: 100%;
	margin: auto;
	margin-left: 35px;
}

.opBtn {
	margin: auto;
	width: 26%;
	color: ghostwhite;
	margin-top: 20px;
	padding: 5px;
}







#modificaBtn { 
  font-weight: 700; 
  color: white; 
  margin:20px; 
  text-decoration: none; 
  padding: .8em 1em calc(.8em + 3px); 
  border-radius: 5px; 
  background: #a6ec84; 
  box-shadow: 0 -1px #f5f5f5 inset; 
  transition: 0.2s; 
} 
#modificaBtn:hover { 
	background: #f5f5f5;
	color: #394a3c;
} 
#modificaBtn:active { 
  background: #f5f5f5; 
  box-shadow: 0 1px rgb(33,147,90) inset; 
} 
/***************************************************** VISUALIZZA ORDINI UTENTE ***********************************************************/
.w3-black, .w3-hover-black:hover {
	color: #fff !important;
	background-color: #000 !important;
	width: 70%;
	margin: auto;
}

.w3-bar .w3-button {
	white-space: normal;
	margin: auto;
	width: 50%;
	background-color: white;
	color: black;
	border-bottom: 1px solid black;
	font-size: 32px;
}

/****************************************************************** CATALOGO **************************************************************/


#titSx {
	font-family: 'janda';
	font-size: 48px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 15px;
	margin-top: 30px;
}

.sottoList{
	margin-right: 10px;
	font-size: 22px; 
	color: #262626;
}

.sottoList li {
	text-decoration: none;
	list-style-type: none;
}


.sottoCateg {
	color: ghostwhite;
	text-decoration: none;
	background-color: transparent;
}

.sottoCateg:hover{
	color: black;
	text-decoration: none;
}

#categ {
	font-family: 'janda';
	font-weight: bold;
	font-size: 35px;
	color: #5ba835;
	text-align: center;
	width: 70%;
	margin: auto;
}
/*
.catalogo{
	height: 1000px;
}
.menuSx {
	/* float: left; 
	background-color: transparent;
	width: 300px;
	height: 1000px;
	border-right: 1px solid #eee;
	/* position: absolute; 
	z-index: 1;
	animation: fadeInLeft;
	animation-duration: 1s;
	float: left;
	position: relative;
	border-radius: 10px;
	border: 1px solid #eee;
	/* width: 302px; 
	/* margin-top: 10%; 
	margin-left: 3px;
} 
.icon-bar {
	display: none;
	width: 100%;
	background-color: #5ba83599;
	z-index: 1;
	animation: fadeInLeft;
	animation-duration: 1s;
	float: left;
	position: relative;
	/* margin-top: 10%; */
	border-radius: 10px;
	/* border: 1px solid #eee; 
	text-align: center;
	height: 30px;
}






#grid {
	width: 1030px;
	position: absolute;
	height: auto;
	top: 356px;
	left: 300px;
}

.listaProdotti {
	margin: 0;
	padding: 0;
	list-style: none;
	
	display: inline-block;
	width: 300px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

#prod{

	display: inline-block;
	width: 300px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;

}
.prodotto {
	border: 1px solid #ddd;
	color: #333;
	margin-bottom: 20px;
	position: relative;
	padding-bottom: 20px;
	padding: 15px 0;
	background-color: #fff;
	text-align: center;
}

#img {
	/* border: 3px solid #f8f8f8; 
	-webkit-border-radius: 50%;
	border-radius: 40%;
	transition: all 0.3s ease 0s;
	margin: 0 auto;
	height: 260px;
	width: 260px;
}

.descrProd {
	padding: 10px;
	text-align: center;
	border-top: 1px solid #eee;
	width: 100%;
	height: 200px;
}

#titInfo{
font-size: 28px;
font-weight: bold;
}

#info {
	font-size: 22px;
	margin: 10px;
	line-height: 22px;
}

.vediInfo {
	position: absolute;
	right: 0;
	bottom: 25px;
	width: 100%;
	margin: auto;
}

.showBioBtn {
	background-color: #337ab7;
	padding: 5px 10px;
	color: #fff;
	font-size: 12px;
}

#paginazione {
	clear: both;
	margin: 20px 0;
}

#paginazione a {
	padding: 3px 6px;
	border: 1px solid #2e6da4;
	margin: 2px;
	color: black;
	text-decoration: none
}

.active_page {
	background: #337ab7;
	color: white !important;
}

#prova{
	width: 300px;
	background-color: #5ba83599;
	z-index: 1;
	animation: fadeInLeft;
	animation-duration: 1s;
	float: left;
	position: relative;
	/* margin-top: 10%; 
	border-radius: 10px;
	border: 1px solid #eee; 
	text-align: center;
	height: 30px;
}

#prodBtn {
	margin: auto;
	width: 70%
	padding: 5px; 
	font-size: 16px;
	background-color: #4CAF50;
	color: #fafbfa;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
	/* border: 1px solid #b3b3b3; */
	/* margin-bottom: 10px; 
}

.dropdown-menu-animation .prova{
	animation:slideInUp;
	animation-duration:1s!important;
}

.icon-bar a:not(.nohover):hover {  
    background-color: #4b4c4d9e ; 
    cursor:pointer;
}

/* icona frecce per menù a scomparsa 
.arrow-style {
  color: white;
  margin-left:-24px;
}
@keyframes load {
  0% {
    opacity: 0;
  }
  20% {
  	opacity:1;
  }100% {
    opacity: 1;
  }
}

.uno {
  -webkit-animation: load 5s 4 0.5s;
  animation: load 5s 4 0.5s;
}
.due {
  -webkit-animation: load 5s 4 0.6s;
  animation: load 5s 4 0.6s;
}
.tre {
  -webkit-animation: load 5s 4 0.7s;
  animation: load 5s 4 0.7s;
}

 /*extra-small devices
@media all and (max-width: 600px) {
	.icon-bar{
		display:block;
	}
}
*/

/************************************************* VISUALIZZA DETTAGLI PRODOTTO *******************************************************/
.visualizzaProdotto{
		width: 100%;
	display: grid;
	grid-template-columns: 30% 60%;
	grid-template-rows: 65% 5% 25%;
	height: 350px;
	justify-content: center;
	grid-column-gap: 2%;
	
}

.fotoProdotto{
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	text-align: center;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}

.dettagliProdotto{
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	width: 100%;
	text-align: inherit;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}

.opBtn4 {
	margin: auto;
	width: 30%;
	color: ghostwhite;
	margin-top: 20px;
	padding: 5px;
}


/*********************************************************** CARRELLO ******************************************************************/
.carello {
	width: 100%;
	display: grid;
	grid-template-columns: 15% 40% 8% 7% 7% 15%;
	grid-template-rows: 65% 5% 25%;
	height: auto;
	justify-content: center;
}

.totale{
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	text-align: center;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}
.opBtn3 {
	margin: auto;
	width: 28%;
	color: ghostwhite;
	margin-top: 20px;
	padding: 5px;
}


/*********************************************************** PROCEDI ORDINE ******************************************************************/
.titColonne{
	font-size: 28px;
	font-family: 'janda';
} 

.oppure {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

#oppure{
font-family: 'janda';
font-size: 20px;
}

/*********** grandezze monitor per il responsive ***********/
/*GRANDEZZE large, medium, small, extra-large e extra-small*/


@media all and (max-width: 1690px)and (min-width : 990px) { 
	
}

@media all and (max-width: 991px) and (min-width: 768px) {

}
 
/*small devices*/
@media all and (max-width: 767px) and (min-width: 601px) {

}

 /*extra-small devices*/
@media all and (max-width: 600px) {

}