@charset "ISO-8859-1";

body {
	overflow-x: hidden;
}

* {
	font-family: "Dosis";
}

@font-face {
	font-family: "Dosis";
	src: url("../font/Dosis/AnyConv.com__Dosis-Regular.otf");
}

@font-face {
	font-family: 'treeftrregular';
	src: url("../font/treeftr-webfont/treeftr-p58o-webfont.woff")
		format('woff2'),
		url("../font/treeftr-webfont/treeftr-p58o-webfont.woff2")
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "janda";
	src:
		url("../font/janda_elegant_handwriting/JandaElegantHandwriting.ttf");
}
/******************************************* TITOLI DELLE PAGINE **********************************************************/
/*titolo di TUTTE le pagine (tranne della home) */
.titoloPagine {
	margin: auto;
	font-size: 60px;
	color: #394a3e;
	text-align: center;
	font-family: 'janda';
	margin-top: 20px;
	margin-bottom: 20px;
}

/*questi due sono il titolo e il sottotitolo della homepage*/
#titoloHome {
	font-size: 52px;
	color: black;
	font-family: 'treeftrregular';
}

#sottotitolo {
	letter-spacing: 2px;
}

#sottotitolo a {
	font-size: 42px;
	color: #394a3c;
	margin-top: 15px;
	margin-bottom: 35px;
	font-family: "janda";
	letter-spacing: 3px;
}

@media all and (max-width: 1690px)and (min-width : 990px) {
}

@media all and (max-width: 991px) and (min-width: 768px) {
}

/*small devices*/
@media all and (max-width: 767px) and (min-width: 601px) {
}

/*extra-small devices*/
@media all and (max-width: 600px) {
	.titoloPagine {

	margin-top: 125px;

}
}
/***************************************************   STILI BOTTONI  ****************************************************/
.bottoni-colori {
	background-color: #81bb65;
	border: 1px solid transparent;
	background-image: linear-gradient(135deg, #a6ec84, #81bb65);
	box-shadow: 2px 6px 15px #81c096;
}

.opBtn2 {
	/* div che contiene i bottini in PROCEDI ORDINE  non di tutti */
	margin: auto;
	width: 20%;
	color: ghostwhite;
	float: right;
	margin-top: 20px;
}

.bottoni-colori:focus, .bottoni-colori:hover {
	background-color: #81bb65;
	color: ghostwhite;
	border: 1px solid transparent;
	background-image: linear-gradient(180deg, #a6ec84, #81bb65);
	box-shadow: 2px 6px 15px #81c096;
}

.bottoni {
	overflow: visible;
	text-transform: none;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 30px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	transition: .5s ease-in-out;
	/* transition-property: color,background-color,background-position,border-color,box-shadow; */
	letter-spacing: 1.8px;
	border-radius: 500px;
	background-origin: border-box;
	margin: 5px;
}

/**************************************************   NAVBAR   **************************************************************/
.iconNav {
	display: inline-block;
	width: 31%;
	margin-left: 22px;
}

.logoNav {
	display: inline-block;
	width: 31%
}

.barraRicercaNav {
	display: inline-block;
	width: 85%;
}

#prod {
	width: 35%;
	border: none;
	border-bottom: 1px solid grey;
	margin: 10px;
}

.item {
	list-style-type: none;
	font-size: 15px;
	display: inline-block;
	width: 18%;
	margin: 5px;
	/* margin-left: 15px; */
	font-weight: bold;
	text-align: center;
}

.group-menu {
	padding: 0;
	margin: auto;
}

.barraRicerca {
	width: 100%;
	margin-left: 140px;
	/* margin-top: 80px; */
	/* margin: auto; */
}

.btnRicerca {
	height: 38px;
	background-color: #ffffff;
	border: none;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border: 2px solid #aced8c;
}

.form-control {
	color: #394a3c;
	border: 2px solid #a6ec84;
	border-right-color: white;
}

.fa {
	color: #394a3c;
}

.bottoniNav {
	width: 100%;
	position: absolute;
	/* top: 180px; */
	/* left: 70px; */
	background-color: #a6ec84;
	border-radius: 5px;
	color: #394a3e;
	line-height: 30px;
}

.contenutoNav {
	/* height: auto; */
	height: 200px;
	width: 100%;
	margin: auto;
}

.logo {
	width: 250px;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-right: 38px;
}
.logoContenitore {
	text-align: center;
	display: block-ruby;
}

.iconeContenitore {
	/* text-align: center; */
	display: inline-flex;
	width: 100%;
}

.iconaTxt {
	text-decoration: none;
	font-size: 21px;
	color: #394a3c;
}

#navbarVerde {
	background-color: #a6ec84;
	border-radius: 5px;
	color: #394a3e;
	list-style-type: none;
	width: 97%;
	z-index: 1;
	position: relative;

}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky+.content {
	padding-top: 60px;
}

@media all and (max-width: 1690px)and (min-width : 990px) {
	.iconaTxt {
		font-size: 18px;
		display: block;
		margin-left: 10px;
	}
	.size {
		margin-left: 5px;
	}
}

@media all and (max-width: 991px) and (min-width: 768px) {
	.iconaTxt {
		font-size: 16px;
		display: block;
		margin-left: 10px;
	}
	.size {
		margin-left: 5px;
	}
	.barraRicerca {
		width: 80%;
		margin-left: 45px;
	}
}

/*small devices*/
@media all and (max-width: 767px) and (min-width: 601px) {
	.iconaTxt {
		font-size: 15px;
		display: block;
		margin-left: 3px;
	}
	.size {
		margin-left: 5px;
	}
	.iconNav {
		margin-left: 5px;
		margin-right: 10px;
	}
	.logo {
		width: 220px;
	}
	.barraRicerca {
		width: 80%;
		margin-left: 30px;
	}
	.item {
		width: 20%;
	}
}

/*extra-small devices*/
@media all and (max-width: 600px) {
	.iconaTxt {
		font-size: 14px;
		display: inline-block;
		margin-left: 3px;
	}
	.size {
		margin-left: 15px;
	}
	.iconNav {
		margin-left: 5px;
		margin-right: 10px;
		width: 90%;
		margin-top: 10px;
	}
	.logoNav {
		width: 100%;
		display: block;
	}
	.logo {
		width: 250px;
		margin-bottom: 15px;
		margin-top: 25px;
	}
	.barraRicercaNav {
		display: inline-block;
		width: 90%;
		margin: 5px;
	}
	.barraRicerca {
		width: 80%;
		margin-left: 50px;
	}
	.item {
		font-size: 13px;
		display: contents;
	}
	.item span {
		margin: 5px;
	}
	.bottoniNav {
		width: 100%;
		margin-top: 10px;
	}
	.iconeContenitore {
		margin-left: 35px;
	}
	#navbarVerde {
		list-style-type: none;
		margin-right: 5px;
	}
}

/**************************************************   FOOTER   ************************************************************/
.footer {
	padding: 25px;
	color: #394a3c;
	background-color: whitesmoke;
	width: 100%;
	margin-top: 25px;
	border-top: 2px solid #a6ec84;
}

.tit-footer {
	font-family: "janda";
	font-size: 20px;
}

/******************************************** HOME PAGE LOGGATA E NON ************************************************/
/*Cards funzionalità sulla Homepage loggata*/
.funzionalita {
	display: grid;
	grid-template-columns: 35% 35%;
	grid-template-rows: 80px;
	justify-content: center;
	grid-row-gap: 20%;
	grid-Column-gap: 5%;
	height: 350px;
}

.descrFunz {
	text-align: center;
	margin: auto;
	width: 80%;
	font-size: 20px;
}

.titoloParagrafo2 {
	font-family: 'Dosis';
	font-size: 32px;
	text-decoration: none;
	color: #81bb65;
	font-weight: bold;
}

.link:hover {
	text-decoration: underline;
	color: #00BB2D;
}

#sottotitolo {
	font-size: 34px;
	text-align: center;
}

@media all and (max-width: 1690px)and (min-width : 990px) {
	.titoloParagrafo2 {
		font-size: 28px;
	}
	.descrFunz {
		font-size: 21px;
	}
	.funzionalita {
		grid-template-columns: 40% 40%;
		grid-template-rows: 95px;
		height: 300px;
	}
}

@media all and (max-width: 991px) and (min-width: 768px) {
	.titoloParagrafo2 {
		font-size: 22px;
	}
	.descrFunz {
		font-size: 18px;
	}
	.funzionalita {
		grid-template-columns: 40% 40%;
		grid-template-rows: 95px;
		height: 280px;
	}
}

/*small devices*/
@media all and (max-width: 767px) and (min-width: 601px) {
	.bottoni {
		/* display: inline-block; */
		margin: 5px;
		/* width: 50%; */
		/* position: relative; */
	}
.titoloParagrafo2 {
	font-size: 25px;
}
#sparisci {
	font-size: 18px;
}

#sottotitolo a {
	font-size: 40px;
}
#sottotitolo {
	font-size: 30px;
	position: relative;
	margin: auto;
	/* margin-top: 60px; */
	margin-bottom: 15px;
	text-align: center;
}
	
	.descrFunz {
		font-size: 16px;
	}
	.funzionalita {
		grid-template-columns: 40% 40%;
		grid-template-rows: 110px;
		margin-bottom: 50px;
	}
}

/*extra-small devices*/
@media all and (max-width: 600px) {
	.bottoni {
		/* display: inline-block; */
		margin: 5px;
		/* width: 50%; */
		/* position: relative; */
	}
	.titoloParagrafo2 {
		font-size: 26px;
	}
	#sottotitolo a {
		font-size: 34px;
	}
#sottotitolo {
	font-size: 26px;
	position: relative;
	margin: auto;
	margin-top: 115px;
	margin-bottom: 15px;
	text-align: center;
}
	.titoloParagrafo2 {
		font-size: 20px;
	}
	.descrFunz {
		font-size: 16px;
	}
	.funzionalita {
		grid-template-columns: 40% 40%;
		grid-template-rows: 110px;
		margin-bottom: 50px;
	}
}

/******************************************************* LOGIN  **************************************************************/
#botReg {
	width: 50%;
	margin: auto;
	/* margin-left: 600px; */
	margin-top: 15px;
	margin-bottom: 15px;
}

.loginBox{

border: 1px solid rgba(40, 150, 5, 0.2);
border-radius: 5px;
	width: 50%;
	height: auto;
		text-align: center;
		border-radius: 5px;
	margin-top: 15px;
	margin: auto;
}

/*
.datiAccesso {
	display: grid;
	grid-template-columns: 35% 55%;
}

*/
	
.imgLog {
	width: 60%;
	margin: auto;
	/* margin-top: 25px; */
	/* margin-left: 65px; */
}
.boxImg {
	width: 35%;
	margin: auto;
}

.inLog {
	width: 60%;
	border: none;
	border-bottom: 1px solid grey;
	font-size: 22px;
}

.rigaSx {
	height: 1px;
	background: rgba(0, 0, 0, .2);
	width: 35%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}

.rigaDx {
	height: 1px;
	background: rgba(0, 0, 0, .2);
	width: 35%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
}

#botReg a {
	font-size: 22px;
}

.eticLog{
font-size: 22px;
font-family: janda;
}



/*extra-small devices*/
@media all and (max-width: 600px) {
.loginBox{
	width: 80%;
	height: auto;	
}
.logo{
	margin-right: 13px;
}
.inLog {
	font-size: 20px;
}
}
/************************************************* REGISTRAZIONE *************************************************************/
.sottotitoloReg {
	margin: auto;
	text-align: center;
	font-size: 20px;
	color: #394a3e;
	/* font-weight: bold; */
}

.inputLogin {
	width: 90%;
	display: inline-block;
	border: none;
	box-sizing: border-box;
	background: transparent;
	border-bottom: 1px solid #b5afaf;
	margin: 10px;
}

.inputLogin2 {
	width: 40%;
	/* display: inline-block; */
	border: none;
	box-sizing: border-box;
	background: transparent;
	border-bottom: 1px solid #b5afaf;
	margin: 10px;
}
/*
#numeroCarta {
	width: 60%;
	/* display: inline-block; 
	border: none;
	box-sizing: border-box;
	background: transparent;
	border-bottom: 1px solid #b5afaf;
	margin: 20px;
} 

#CVV {
	width: 20%;
	/* display: inline-block; 
	border: none;
	box-sizing: border-box;
	background: transparent;
	border-bottom: 1px solid #b5afaf;
	margin: 20px;
}
*/
.regContenitore {
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	height: 504px;
	justify-content: center;
	grid-column-gap: 2%;
	margin-left: 40px;
	/* grid-row-gap: 0px; */
	/* margin: auto; */
}

.datiUtente {
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: 504px;
	width: 100%;
	border: 2px solid #a6ec84;
	background-color: white;
	border-radius: 5px;
}

.datiSped {
	height: auto;
	width: 90%;
	border: 2px solid #a6ec84;
	background-color: white;
	border-radius: 5px;
	/* grid-row-gap: 5%; */
	margin-bottom: 5px;
}

.datiPag {
	height: auto;
	width: 90%;
	border: 2px solid #a6ec84;
	background-color: white;
	border-radius: 5px;
	grid-row-gap: 0;
	grid-row-start: 2;
	grid-row-end: 4;
}

#login {
	width: 80%;
	margin: auto;
}

#inputData {
	float: left;
	margin-left: 25px;
	margin-top: 10px;
}

#dataDiNascita, #scadenzaCarta {
	color: grey;
}

/*************************************************   PROFILO UTENTE   ****************************************************/
.item-a {
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	text-align: center;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}

.item-b {
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	width: 100%;
	text-align: inherit;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}
.riga1 {
	height: 1px;
	background: rgba(0, 0, 0, .2);
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.inputProfilo {
	width: 100%;
	display: inline-block;
	border: none;
	box-sizing: border-box;
	background: transparent;
	border-bottom: 1px solid #b5afaf;
	margin: -5px;
}
#area-profilo {
	width: 95%;
	height: auto;
	margin: auto;
}


.titProfilo {
	font-size: 28px;
	font-family: 'janda';
	margin-top: 25px;
}


#nomeOperazione {
	text-decoration: none;
	color: black;
	font-family: "janda";
}

.operazioniBox {
	width: 50%;
	height: auto;
	border: 1px solid rgba(40, 150, 5, 0.2);
	border-radius: 5px;
	/* display: grid; */
	/* grid-template-columns: 50% 50%; */
	margin-top: 20px;
	margin: auto;
}
.datiBox {
	width: 100%;
	height: 500px;
	border: 1px solid rgba(40, 150, 5, 0.2);
	border-radius: 5px;
	display: grid;
	grid-template-columns: 35% 35% 35%;
	margin-bottom: 20px;
}
.datiPersonali {
	grid-row-start: 1;
	grid-row-end: 4;
	width: 85%;
	margin: auto;
	height: auto;
}
.prova{ width: 80%;}
.immagineOp{margin: auto;
width: 27%;}

.botMod {
	overflow: visible;
	text-transform: none;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 30px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	transition: .5s ease-in-out;
	letter-spacing: 1.8px;
	border-radius: 500px;
	background-origin: border-box;
	margin-top: 30px;
	width: 91%;
	margin-left: 50px;
}

.bottoneProfilo {
	width: 50%;
	margin: auto;
	margin-left: 400px;
	display: inline-flex;
}
.botModDati {
	width: 13%;
	margin: auto;
}

.immagineOp {
	margin: auto;
	width: 30%;
}

@media screen and (max-width: 1690px)and (min-width : 990px) {

.botMod {
	width: 95%;
	/* margin-top: 17px; */
}
.immagineOp {
	margin: auto;
	width: 32%;
}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
.bottoneProfilo {
	width: 70%;
	margin: auto;
	margin-left: 150px;
	display: inline-flex;
}
.botMod {
	width: 91%;
	/* margin-top: 17px; */
}

.immagineOp {
	margin: auto;
	width: 46%;
}
}

/*small devices*/
@media screen and (max-width: 767px) and (min-width: 601px) {
.bottoneProfilo {
	width: 70%;
	margin: auto;
	margin-left: 89px;
	display: inline-flex;
}
.botMod {
	width: 91%;
	/* margin-top: 17px; */
}
.botModDati {
	width: 30%;
	margin: auto;
}

.immagineOp {
	margin: auto;
	width: 54%;
}
	}

/*extra-small devices*/
@media screen and (max-width: 600px) {
.bottoneProfilo {
	/* margin: auto; */
	width: 85%;
	/* color: ghostwhite; */
	/* margin: auto; */
	margin: 0;
	display: inline-flex; 
	
}

	.datiBox {
	width: 100%;
	height: auto;
	display: block;
}
.datiPersonali {
	width: 85%;
	margin: auto;
	height: auto;
}
.botMod {
	width: 90%;
	/* margin-top: 17px; */
}

.botModDati {
	width: 30%;
	margin: auto;
}

.operazioniBox {
	width: 100%;
	height: auto;
	border: 1px solid rgba(40, 150, 5, 0.2);
	border-radius: 5px;
	/* display: grid; */
	/* grid-template-columns: 50% 50%; */
	margin-top: 20px;
	margin: auto;
}

.immagineOp {
	margin: auto;
	width: 42%;
}
}

/************************************************** MODIFICA DATI UTENTE ******************************************************/
.container-dati {
	width: 100%;
	/* padding-right: 15px; */
	/* padding-left: 15px; */
	height: 350px;
	margin: auto;
}

#nuovoIndirizzo {
	border: 1px gainsboro dashed;
	background-color: ghostwhite;
}

#indirizzi {
	border: 1px solid gainsboro;
	background-color: rgb(250, 330, 300);
}

.modificaDati {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: auto;
	column-gap: 2%;
	width: 100%;
	margin: auto;
	margin-left: 35px;
}

.opBtn {
	margin: auto;
	width: 26%;
	color: ghostwhite;
	margin-top: 20px;
	padding: 5px;
}

#modificaBtn {
	font-weight: 700;
	color: white;
	margin: 20px;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 5px;
	background: #a6ec84;
	box-shadow: 0 -1px #f5f5f5 inset;
	transition: 0.2s;
}

#modificaBtn:hover {
	background: #f5f5f5;
	color: #394a3c;
}

#modificaBtn:active {
	background: #f5f5f5;
	box-shadow: 0 1px rgb(33, 147, 90) inset;
}

/*************************************************** VISUALIZZA ORDINI UTENTE *************************************************/
.w3-black, .w3-hover-black:hover {
	color: #fff !important;
	background-color: #000 !important;
	width: 70%;
	margin: auto;
}

.w3-bar .w3-button {
	white-space: normal;
	margin: auto;
	width: 50%;
	background-color: white;
	color: black;
	border-bottom: 1px solid black;
	font-size: 32px;
}

/************************************************************* CATALOGO *******************************************************/
#main {
	transition: margin-left .5s;
	padding: 16px;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	padding: 2px;
	margin-left: 40px;
	margin-right: 10px;
}

.grid-container > div {
	background-color: white;
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
	height: 500px;
	width: 350px;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	margin-bottom: 10px;
}

.hovereffect {
	width: 100%;
	/* float: left; */
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.hovereffect .overlay {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 250px;
	left: 0;
	top: 10%;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #FFF;
	-webkit-transition: opacity 0.50s, -webkit-transform 0.5s;
	transition: opacity 0.50s, transform 0.50s;
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	transform: scale(0, 1);
}

.hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.hovereffect img {
	display: block;
	position: relative;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.hovereffect:hover img {
	filter:
		url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
	filter: brightness(0.6);
	-webkit-filter: brightness(0.6);
}

.imgProdotto {
	width: 90%;
	margin: auto;
}

#scopri {
	width: 50%;
	margin-top: 110px;
	font-size: 18px;
}

.addWishlist {
	display: flex;
	margin: auto;
	width: 50%;
}

.nomeProdotto {
	font-size: 20px;
	margin-bottom: 0;
}

.bottoneAddCarrello {
	margin: auto;
	width: 100%;
	color: ghostwhite;
	margin-top: 5px;
}

.bottoneAddCarrello a {
	font-size: 15px;
}

/*style sidebar*/
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #394a3c;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

#titSx {
	font-family: 'janda';
	font-size: 48px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 15px;
	margin-top: 30px;
}

.sottoList {
	margin-right: 10px;
	font-size: 22px;
	color: #262626;
}

.sottoList li {
	text-decoration: none;
	list-style-type: none;
}

.sottoCateg {
	color: ghostwhite;
	text-decoration: none;
	background-color: transparent;
}

.sottoCateg:hover {
	color: black;
	text-decoration: none;
}

#categ {
	font-family: 'janda';
	font-weight: bold;
	font-size: 34px;
	color: ghostwhite;
	text-align: center;
	margin: 10px;
}

.categorie{
	margin: 20px;
}

.botMenu{
	border: none;
	background: trasparent;
}

/*********** grandezze monitor per il responsive ***********/
/*GRANDEZZE large, medium, small, extra-large e extra-small*/
@media all and (max-width: 1690px)and (min-width : 990px) {


.grid-container > div {
	height: auto;
	width: auto;
}
}

@media all and (max-width: 991px) and (min-width: 768px) {
	.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 20px;
	padding: 2px;
	margin-left: 40px;
	margin-right: 10px;
}

.grid-container > div {
	height: auto;
	width: auto;
}
}

/*small devices*/
@media all and (max-width: 767px) and (min-width: 601px) {
.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 20px;
	padding: 2px;
	margin-left: 40px;
	margin-right: 10px;
}

.grid-container > div {
	height: auto;
	width: auto;
}
}

/*extra-small devices*/
@media all and (max-width: 600px) {
	.grid-container {
	display: block;
	padding: 2px;
	margin-left: 40px;
	margin-right: 10px;
}
	#prod {
	width: 100%;
	border: none;
	border-bottom: 1px solid grey;
	margin: 10px;
}
}

/*********************************************** VISUALIZZA DETTAGLI PRODOTTO ************************************************/
.visualizzaProdotto {
	width: 100%;
	display: grid;
	grid-template-columns: 30% 60%;
	grid-template-rows: 65% 5% 25%;
	height: auto;
	justify-content: center;
	grid-column-gap: 2%;
}

.fotoProdotto {
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	text-align: center;
	border: 2px solid #a6ec84;
	border-radius: 5px;
	margin-top: 15px;
}
.dettagliProdotto {
	/* grid-row-start: 1; */
	/* grid-row-end: 4; */
	width: 100%;
	height: 415px;
	width: 100%;
	/* text-align: inherit; */
	border: 2px solid #a6ec84;
	border-radius: 5px;
	margin-top: 15px;
}
.opBtn4 {
	margin: auto;
	width: 19%;
	color: ghostwhite;
	margin-top: 20px;
	padding: 5px;
}


/*********** grandezze monitor per il responsive ***********/
/*GRANDEZZE large, medium, small, extra-large e extra-small*/
@media all and (max-width: 1690px)and (min-width : 990px) {
}

@media all and (max-width: 991px) and (min-width: 768px) {
	.opBtn4 {
	margin: auto;
	width: 29%;
	color: ghostwhite;
	margin-top: 20px;
	padding: 5px;
}
}

/*small devices*/
@media all and (max-width: 767px) and (min-width: 601px) {
	.opBtn4 {
	margin: auto;
	width: 43%;
	color: ghostwhite;
	margin-top: 20px;
	padding: 5px;
}
}

/*extra-small devices*/
@media all and (max-width: 600px) {
	.visualizzaProdotto {
	width: 90%;
	display: block;
	grid-template-columns: 30% 60%;
	grid-template-rows: 65% 5% 25%;
	height: auto;
	justify-content: center;
	grid-column-gap: 2%;
	margin: auto;
}

.opBtn4 {
	margin: auto;
	width: 60%;
	color: ghostwhite;
	margin-top: 20px;
	padding: 5px;
}
	
}








/******************************************************* CARRELLO ***********************************************************/
.carello {
	width: 100%;
	display: grid;
	grid-template-columns: 15% 40% 8% 7% 7% 15%;
	grid-template-rows: 65% 5% 25%;
	height: auto;
	justify-content: center;
}

.totale {
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	text-align: center;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}

.opBtn3 {
	margin: auto;
	width: 28%;
	color: ghostwhite;
	margin-top: 20px;
	padding: 5px;
}

/**************************************************** PROCEDI ORDINE *********************************************************/
.titColonne {
	font-size: 28px;
	font-family: 'janda';
}

.oppure {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

#oppure {
	font-family: 'janda';
	font-size: 20px;
}

.procediOrdine {
	width: 91%;
	display: grid;
	grid-template-columns: 50% 50%;
	/* grid-template-rows: 50% 50%; */
	height: auto;
	justify-content: center;
	grid-column-gap: 5%;
	margin-left: 90px;
	grid-row-gap: 20px;
}
.colonnaSx {
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	width: 100%;
	border: 1px solid gainsboro;
	background-color: rgb(250, 330, 300);
	border-radius: 5px;
}

.colonnaDx1 {
	height: auto;
	width: 90%;
	border: 1px solid gainsboro;
	background-color: rgb(250, 330, 300);
	border-radius: 5px;
	grid-row-gap: 5%;
}
.colonnaDx2 {
	height: auto;
	width: 90%;
	border: 1px solid gainsboro;
	background-color: rgb(250, 330, 300);
	border-radius: 5px;
	grid-row-gap: 0;
	grid-row-start: 2;
	grid-row-end: 4;
}

#titColonne {
	font-size: 16px;
}

#carrelloOrdine {
	border-collapse: collapse;
	width: 90%;
	margin-left: 40px;
	font-size: 20px;
}

.immagineProd, .nomeProd, .quantProd, .prezzoProd, .scontoProd {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

#specificheTab:hover {
	background-color: #f5f5f5;
}

.totaleCol {
	position: absolute;
	top: 1230px;
	width: 40%;
	/* float: right; */
	font-size: 20px;
}

.totaleCol a {
	float: right;
}

#righe {
	margin: 0;
	font-size: 20px;
	line-height: 15px;
	float: left;
}

#caselle {
	border-bottom: 1px solid rgba(40, 150, 5, 0.9);
}

#informazioniUtente {
	margin-left: 20px;
	margin-right: 20px;
}

.rigaSx {
	height: 1px;
	background: rgba(0, 0, 0, .2);
	width: 35%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}

.rigaDx {
	height: 1px;
	background: rgba(0, 0, 0, .2);
	width: 35%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
}

.cose {
	font-size: 1.2em;
	color: #394a3c;
	padding: 5px;
}

.select {
	width: 100%;
	margin-top: 6px;
	display: inline-block;
	border: none;
	box-sizing: border-box;
	background: transparent;
	border-bottom: 1px solid red;
	color: black;
}

.disabledbutton {
	pointer-events: none;
	opacity: 0.4;
}
/****************************************************** 404 ERROR *************************************************************/
.contenuto {
	height: 550px;
	padding: 20px;
}

.triste {
	margin: auto;
	width: 50%;
}

.contenutoErrore {
	margin: auto;
	text-align: center;
	padding: 50px;
	font-weight: bold;
	font-family: 'treeftrregular';
}

.tornaHomeLink {
	margin: auto;
	text-align: center;
	font-size: 30px;
	color: black;
	weight: 100px;
	font-family: 'treeftrregular';
}

.tornaAllaHome {
	margin: auto;
	weight: 50%;
}

.immagine404 {
	margin: auto;
	width: 200px;
	height: auto;
}

/***************************************************** ASSISTENZA *********************************************************/
.sottotitoloAssistenza {
	margin: auto;
	text-align: center;
	font-size: 20px;
	margin-top: 15px;
}



.titoloCasella {
	font-size: 25px;
	color: #4CAF50;
	margin-top: 55px;
	margin: auto;
	text-align: center;
	font-weight: bold;
}

.mail {
	align: center;
}
/*

.riga1 {
	height: 1px;
	background: rgba(0, 0, 0, .2);
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
*/
.titoloContatto {
	margin: auto;
	font-size: 20px;
}

.contatto {
	font-weight: bold;
	text-decoration: underline;
	color: #007FFF;
}

.img {
	margin-bottom: 15px;
	margin: auto;
	width: 150px;
	display: block;
	height: 150px;
	margin-top: 10px;
}

.conferma {
	width: 10%;
	margin: auto;
	margin-top: 20px;
	padding: 5px;
	font-size: 20px;
	background-color: #CBFFC0ED;
	text-decoration: underline;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
	margin-righ: 10px;
	margin-left: 10px;
}

.imgfb {
	margin-bottom: 15px;
	margin: auto;
	width: 100px;
	height: 100px;
	display: block;
	margin-top: 10px;
}

/*************************************************** CHI SIAMO  *********************************************************/
.sottotitoloChiSiamo {
	margin: auto;
	text-align: center;
	font-size: 24px;
	margin-top: 15px;
}

.membri {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}

.divMembri {
	margin-top: 50px;
}

.titoloParagrafo {
	text-align: center;
}

.conferma {
	width: 10%;
	margin: auto;
	margin-top: 20px;
	padding: 5px;
	font-size: 20px;
	background-color: #CBFFC0ED;
	text-decoration: underline;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
	margin-righ: 10px;
	margin-left: 10px;
}

/************************************************* WISHLIST **************************************************************/
.sottotitoloWish {
	margin: auto;
	text-align: center;
	font-size: 24px;
	margin-top: 15px;
}
/*
#area-utente {
	width: 100%;
	display: grid;
	grid-template-columns: 35% 35%;
	grid-template-rows: 65% 5% 25%;
	height: 500px;
	justify-content: center;
	grid-column-gap: 2%;
}
*/
/*
.item-b {
	grid-row-start: 1;
	grid-row-end: 4;
	width: 100%;
	height: auto;
	text-align: inherit;
	border: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 15px 8px -11px rgba(40, 150, 5, 0.8);
	border-radius: 5px;
	margin-top: 15px;
}
*/
.fotoProdottoWish {
	margin: auto;
	width: 50px;
}

.immagineCarrello {
	margin: auto;
	width: 30px;
}

.indietro {
	width: 20%;
	margin: auto;
	margin-top: 20px;
	padding: 5px;
	font-size: 20px;
	background-color: #CBFFC0ED;
	text-decoration: underline;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
	margin-righ: 10px;
	margin-left: 10px;
	text-align: center;
}

.prodotto {
	margin: auto;
	height: 90px;
}

.descrizioneProdotto {
	margin: auto;
	text-align: center;
	font-size: 20px;
}

.riga1 {
	height: 1px;
	background: rgba(0, 0, 0, .2);
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*********** grandezze monitor per il responsive ***********/
/*GRANDEZZE large, medium, small, extra-large e extra-small*/
@media all and (max-width: 1690px)and (min-width : 990px) {
}

@media all and (max-width: 991px) and (min-width: 768px) {
}

/*small devices*/
@media all and (max-width: 767px) and (min-width: 601px) {
}

/*extra-small devices*/
@media all and (max-width: 600px) {
}