@charset "ISO-8859-1";

body{
  overflow-x:hidden; 
}

*{
	    font-family: "Dosis";
}


@font-face{
	font-family: "Dosis";
	src: url("../font/Dosis/AnyConv.com__Dosis-Regular.otf");
}

@font-face {
    font-family: 'treeftrregular';
    src: url("../font/treeftr-webfont/treeftr-p58o-webfont.woff") format('woff2'),
         url("../font/treeftr-webfont/treeftr-p58o-webfont.woff2") format('woff');
    font-weight: normal;
    font-style: normal;
}


/***********************************************   HOMEPAGE   *******************************************************************/
.titoloPag{
	font-family: 'Dosis';
	font-size: 30px; 
	font-weight: bold;
}

.titBen{
	
	
}

#divCentrale{
	padding: 20px;
}